
-#<!--<%= 'No items have not been added yet'%>-->
-#<!--<%= image_tag('empty_cart.jpg')%>-->
-#<!--as-->

= render 'layouts/flash_message'

%h1
  =t('carts.show.header', count: (@products.count))



-#= 'No items have not been added yet'
= image_tag('empty_cart.jpg')