-#<!--<h1>New Product</h1>-->
-#
-#<!--<%= render 'form', product: @product %>-->
-#
-#<!--<%= link_to 'Back', users_path %>-->
-#
-#
-#<!--<%= form_tag '/products' do %>-->
-#    <!--<%= label_tag :name %>-->
-#    <!--<%= text_field_tag :name %>-->
-#
-#    <!--<%= label_tag :price %>-->
-#    <!--<%= number_field_tag :price %>-->
-#
-#    <!--<%= label_tag :description %>-->
-#    <!--<%= text_area_tag :description %>-->
-#
-#    <!--<%= submit_tag 'Save!!!', class: "btn btn-success" %>-->
-#<!--<% end %>-->
-#;

%h1 New Product

= render 'form', product: @product

= link_to 'Back', users_path

-#= form_tag '/products' do
-#    = label_tag :name
-#    = text_field_tag :name
-#    = label_tag :price
-#    = number_field_tag :price
-#    = label_tag :description
-#    = text_area_tag :description
-#    = submit_tag 'Save!!!', class: "btn btn-success"